.wrapperMain {
    text-align: center;
    color: white;
    background-color: black;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 0 0 16px 0;

    p {
        margin: 0 auto;
        font-weight: 600;
        padding: 0 20px;
        font-size: 22px;
    }
}

.warpperHelp {
    text-align: center;
    color: white;
    background-color: rgb(89, 89, 89);
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;


    p {
        margin: 0 auto;
        font-weight: 600;
        padding: 0 20px;
        font-size: 22px;
    }
}

.line {
    width: 100%;
    height: 10px;
}

.wrapperHelpMe {
    text-align: center;
    background-color: black;
    padding: 40px 0;
    color: white;
}

.wtapperHelpMe1 {
    font-size: 40px;
    font-weight: 600;
    color: #FFFFFF;
    text-shadow: 0px 0px 8px rgba(255, 255, 255, 0.74), 0px 0px 8px rgba(255, 255, 255, 0.74), 6px 6px 8px rgba(0, 0, 0, 0.5);
}

.wtapperHelpMe2 {
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    background: linear-gradient(172deg, rgba(180, 136, 68, 1) 25%, rgba(249, 236, 169, 1) 50%, rgba(179, 138, 69, 1) 75%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding: 10px 0;
}

.wtapperHelpMe3 {
    font-size: 40px;
    font-weight: 600;
    color: #FFFFFF;
}

.wtapperHelpMe4 {

    max-width: 700px;
    margin: 24px auto;
    font-size: 20px;
    font-weight: 600;
    color: #FFFFFF;

}

.mapArr {
    display: grid;
    grid-template-columns: repeat(2, 300px);
    justify-content: center;
    gap: 18px;
    margin: 24px 0;
}

@media (max-width: 500.98px) {
    .mapArr {
        grid-template-columns: repeat(1, 1fr);
    }
}

.mapArrBlock {
    padding: 5px 10px;
    box-shadow: 0px 0px 8px rgba(255, 255, 255, 0.74), 0px 0px 8px rgba(255, 255, 255, 0.74), 6px 6px 8px rgba(0, 0, 0, 0.5);
    text-align: left;
    border-radius: 10px;
    border: 2px solid white;
    display: flex;
    gap: 10px;
    align-items: center;
}

.mapArrBlockIMg {
    width: 22px;
}

.mapArrTitl {
    font-size: 20px;
    font-weight: 400;
    color: #FFFFFF;
}

.wrapperGoldText {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: black;
    text-align: center;
    padding: 40px 0;
    overflow: hidden;
}

.wrapperGoldText1 {
    font-size: 36px;
    font-weight: 700;
    text-transform: uppercase;
    background: linear-gradient(172deg, rgba(180, 136, 68, 1) 25%, rgba(249, 236, 169, 1) 50%, rgba(179, 138, 69, 1) 75%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: animat 8s infinite linear;

}


.wrapperGoldText2 {
    width: 100%;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    background: linear-gradient(172deg, rgba(180, 136, 68, 1) 25%, rgba(249, 236, 169, 1) 50%, rgba(179, 138, 69, 1) 75%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@keyframes animat {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}

.wrapperUslugi {
    background: linear-gradient(172deg, rgba(180, 136, 68, 1) 25%, rgba(249, 236, 169, 1) 50%, rgba(179, 138, 69, 1) 75%);
    padding: 20px 0;
    text-align: center;
}

.usltextIg {
    width: 100%;
    height: 40px;
    object-fit: cover;
}

.usltext {
    text-transform: uppercase;
    color: black;
    font-weight: 600;
    font-size: 50px;
}

.services {
    width: 100%;
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);

    .container {
        width: 100%;
        max-width: 1200px;
        padding: 40px 20px 80px;
        margin: auto;
        gap: 30px;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;


        .blocks {
            margin-top: 60px;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            gap: 50px;

            .block {
                text-decoration: none;
                color: rgb(215, 215, 215);
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 10px;



                .anim {
                    width: 200px;
                    height: 200px;
                    position: relative;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    &::before {
                        position: absolute;
                        content: "";
                        top: 0px;
                        left: 0;
                        width: 200px;
                        height: 200px;
                        background: conic-gradient(#fff 40deg, gold 0.55turn 0.6turn, #fff 1rad 1.5rad, gold 400grad);
                        border-radius: 50%;
                        animation: rotate 5s linear infinite;
                    }

                    @keyframes rotate {
                        0% {
                            transform: rotate(0deg);
                        }

                        100% {
                            transform: rotate(360deg);
                        }
                    }

                    .img {
                        position: absolute;
                        z-index: 20;
                        width: 190px;
                        height: 190px;
                        border-radius: 50%;
                        object-fit: cover;
                    }
                }


                .titleText {
                    text-align: center;
                    font-size: 26px;
                    font-weight: 600;
                    border-bottom: 2px solid gold;
                }

                .descr {
                    text-align: center;
                    font-size: 20px;
                }
            }
        }
    }
}

@media (max-width: 991.98px) {
    .services {
        .container {
            .blocks {
                grid-template-columns: 1fr 1fr;
            }
        }
    }
}

@media (max-width: 767.98px) {
    .services {
        .container {
            .title {
                font-size: 40px;
            }

            .blocks {
                margin-top: 40px;
                grid-template-columns: 1fr;

                .block {
                    .anim {
                        width: 170px;
                        height: 170px;

                        &::before {
                            width: 170px;
                            height: 170px;
                        }

                        .img {
                            width: 160px;
                            height: 160px;
                        }
                    }


                    .titleText {
                        font-size: 22px;
                        padding-bottom: 10px;
                    }

                    .descr {
                        text-align: center;
                        font-size: 19px;
                    }
                }
            }
        }
    }
}

.usltext2 {
    font-size: 24px;
    font-weight: 600;
}

.usltextIg1 {
    width: 100%;
    height: 20px;
    object-fit: cover;
}



@media (max-width: 500.98px) {
    .wrapperMain {

        p {
            font-size: 15px;
        }
    }

    .warpperHelp {
        p {
            font-size: 15px;
        }
    }


    .wrapperHelpMe {
        padding: 20px 0;
    }

    .wtapperHelpMe1 {
        font-size: 24px;
    }

    .wtapperHelpMe2 {
        font-size: 16px;
    }

    .wtapperHelpMe3 {
        font-size: 16px;
    }

    .wtapperHelpMe4 {
        font-size: 16px;
    }

    .mapArr {
        padding: 0 20px;
    }

    @media (max-width: 500.98px) {
        .mapArr {
            grid-template-columns: repeat(1, 1fr);
        }
    }

    .mapArrBlockIMg {
        width: 18px;
    }

    .wrapperGoldText1 {
        font-size: 18px;
    }


    .wrapperGoldText2 {
        font-size: 18px;
    }

    @keyframes animat {
        0% {
            transform: scale(1);
        }

        50% {
            transform: scale(1.1);
        }

        100% {
            transform: scale(1);
        }
    }

    .wrapperUslugi {
        padding: 10px 0;
    }

    .usltextIg {
        height: 30px;
    }

    .usltext {
        font-size: 24px;
    }

    .usltext2 {
        font-size: 20px;
        font-weight: 600;
    }

    .usltextIg1 {
        height: 14px;
    }
}

.client {
    background-color: rgb(255, 255, 255);
    width: 100%;

    .container {
        width: 100%;
        max-width: 1200px;
        padding: 40px 20px 80px;
        margin: auto;
        gap: 30px;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;

        .title {
            font-size: 40px;
            text-align: center;
            width: fit-content;
            position: relative;
            animation: anims 2s linear infinite alternate;

            @keyframes anims {
                0% {
                    transform: scale(1);
                }

                100% {
                    transform: scale(1.2);
                }
            }

            &::after {
                position: absolute;
                content: "";
                bottom: -1px;
                left: 50%;
                width: 0%;
                height: 2px;
                background-color: gold;
                animation: anim 4s ease-in infinite;
            }

            @keyframes anim {
                0% {
                    left: 50%;
                }

                100% {
                    width: 100%;
                    left: 0;
                }
            }
        }

        .mySwiper {
            border-radius: 10px;
            height: auto;
            width: 100%;
            margin: auto;
            height: auto;
            padding: 20px 50px;



            img {
                width: 100%;
                height: auto;
                object-fit: contain;
            }
        }
    }

    .police {
        font: 500 19px 'Oswald';
        color: white;
        background-color: rgb(0, 0, 0);
        padding: 5px 10px;
        text-align: center;
    }
}




@media (max-width: 575.98px) {
    .client {
        .police {
            font: 500 15px 'Oswald';
            padding: 5px 10px;
            text-align: center;
        }

        .container {
            padding: 40px 20px;

            .title {
                font-size: 30px;
            }

            .mySwiper {
                padding: 20px 0;

                img {
                    width: 100%;
                    height: 500px;
                }
            }
        }
    }
}



.warpperGal {
    max-width: 800px;
    display: flex;
    gap: 20px;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    padding: 40px 0;
}

.warpperGagl {
    max-width: 1200px;
    display: flex;
    gap: 20px;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    padding: 40px 0;
}

.wtr2 {
    display: flex;
    gap: 10px;
    flex-direction: column;

    img {
        border: 2px solid white;
        box-shadow: 0px 0px 8px rgba(255, 255, 255, 0.74), 0px 0px 8px rgba(255, 255, 255, 0.74), 6px 6px 8px rgba(0, 0, 0, 0.5);
        width: 100%;
        height: 400px;
        object-fit: cover;
    }
}

.video {
    border: 2px solid white;
    box-shadow: 0px 0px 8px rgba(255, 255, 255, 0.74), 0px 0px 8px rgba(255, 255, 255, 0.74), 6px 6px 8px rgba(0, 0, 0, 0.5);
    height: 600px;
    width: auto;
    object-fit: cover;
}

.videog {
    border: 2px solid white;
    box-shadow: 0px 0px 8px rgba(255, 255, 255, 0.74), 0px 0px 8px rgba(255, 255, 255, 0.74), 6px 6px 8px rgba(0, 0, 0, 0.5);
    height: 600px;
    width: 50%;
    object-fit: cover;
}

@media (max-width: 575.98px) {

    .warpperGal,
    .warpperGagl {
        max-width: 100%;
        display: flex;
        flex-direction: column;
        gap: 20px;
        align-items: center;
        justify-content: center;
        padding: 20px 20px;
    }

    .warpperGagl {
        margin: 0 auto;
        align-items: center;
        justify-content: center;
        padding: 0 20px;
        padding-bottom: 20px;

        .videog {
            width: 100%;
        }
    }

    .wtr2 {

        img {
            width: 100%;
            height: auto;
        }
    }

    .video {
        height: auto;
        width: 100%;
    }

}

.videoasd {
    position: absolute;
    top: 50000000%;
    right: 5000000%;
}