.wrapperMain {
    text-align: center;
    color: white;
    background-color: black;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 0 0 16px 0;

    p {
        margin: 0 auto;
        font-weight: 600;
        padding: 0 20px;
        font-size: 22px;
    }
}

.warpperHelp {
    text-align: center;
    color: white;
    background-color: rgb(89, 89, 89);
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;


    p {
        margin: 0 auto;
        font-weight: 600;
        padding: 0 20px;
        font-size: 22px;
    }
}

.line {
    width: 100%;
    height: 10px;
}